<div class="row">
    <div class="col-md-12">
        <h1>Vraag <span class="label label-primary">{{ vraagNummer }}</span></h1>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{processBar}}%">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>{{vraag.vraag}}</h4>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
    </div>
</div>

<div class="row" ng-show="processTimeUp">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">Wacht tot dat de docent het volgende scherm start.</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item" ng-class="processTimeUp ? 'disabled' : ''" ng-repeat="antwoord in vraag.antwoorden | orderBy:random" ng-click="selecteerAntwoord(antwoord, $index)">{{antwoord.antwoord}}</a>
        </div>
    </div>
</div>

<style>
    .disabled {
        background-color: #eee;
        color: #777;
        cursor: not-allowed;
    }
</style>
<script>
    $( document ).ready(function() {
        $(".list-group-item").click(function(){
            $(".list-group-item").removeClass("active");
            $(this).addClass("active");
            return false;
        });
    });
</script>