body {
   margin: 0;
   padding: 0;
}

#blocksField {
   position:relative;
   top:0;
   left:0;
   background-color: #efe;
   width: 1000pt;
   height: 1000pt;
}

.block {
   position: absolute;
   border-radius: 8px;
   box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
   color: white;
   font-family: "Consolas";
   font-size: 12px;
   padding: 4px;
   width: 100px;
   text-align: center;
   transition: all 0.2s ease-out;
}
