<div class="row">
    <div class="col-md-12">
        <h1>Welkom docent</h1>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form method="post" ng-submit="loginDocent()">
            <div class="form-group">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" ng-model="username" placeholder="Naam">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="Wachtwoord">
            </div>
            <button type="submit" class="pull-right btn btn-primary" ng-disabled="username.length==0||password.length==0||naam">Aanmelden</button>

            <div ng-show="naam">Welkom, {{naam}}.</div>
        </form>
    </div>
</div>